<BaseExperienceSection JobTitle="Software Developer"
					   Company="DataHorizon,UK"
					   Dates="September 2021 – November 2022">
	<li>Created and modified mobile and desktop apps as well as their back-end web services.</li>
	<li>Contributed to the design and maintenance of relational databases.</li>
	<li>Refactored portions of the code to fit with modern design patterns.</li>
	<li>Provided data illustration and presentation using interactive graphs and reports.</li>
</BaseExperienceSection>
