<div id="@Id" style=@Style>
	<MudContainer Fixed=true Class="py-8 py-lg-12 py-xl-16">
		<MudPaper Class="pa-xl-16 pa-lg-12 pa-8">
			@ChildContent
		</MudPaper>
	</MudContainer>
</div>

@code {
	[Parameter]
	public string? Id { get; set; } = Guid.NewGuid().ToString("N");
	[Parameter]
	public RenderFragment? ChildContent { get; set; }
	[Parameter]
	public string? BackgroundColor { get; set; }

	[CascadingParameter]
	protected MudThemeProvider? MudThemeProvider { get; set; }

	string Style => string.IsNullOrWhiteSpace(BackgroundColor) ? "" : $"background-color: {BackgroundColor};";
}
