<div id="@Id" style=@Style>
	<MudContainer MaxWidth=MaxWidth.Large Class="pa-0">
		<MudContainer Fixed=true Class="py-8 py-lg-12 py-xl-16">
			<MudPaper Class="pa-lg-12 pa-md-8 pa-4">
				@ChildContent
			</MudPaper>
		</MudContainer>
	</MudContainer>
</div>

@code {
	[Parameter]
	public string? Id { get; set; } = Guid.NewGuid().ToString("N");
	[Parameter]
	public RenderFragment? ChildContent { get; set; }
	[Parameter]
	public string? BackgroundColor { get; set; }

	[CascadingParameter]
	protected MudThemeProvider? MudThemeProvider { get; set; }

	string Style => string.IsNullOrWhiteSpace(BackgroundColor) ? "" : $"background-color: {BackgroundColor};";
}
