<div class="@(EvenSection ? "evenSection" : "oddSection")">
	<MudContainer Fixed=true Class="py-8 py-lg-12 py-xl-16">
		<MudPaper Class="pa-xl-16 pa-lg-12 pa-8">
			@ChildContent
		</MudPaper>
	</MudContainer>
</div>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }
	[Parameter, EditorRequired]
	public int PositionIndex { get; set; }

	private bool EvenSection => PositionIndex % 2 == 0;
}
