.grid[grid-left] {
    display: grid;
    gap: 0px;
    align-items: center;
}

    .grid[grid-left=True] {
        grid-template-columns: 45% 5% 50%;
    }

    .grid[grid-left=False] {
        grid-template-columns: 50% 5% 45%;
    }

@media screen and (max-width: 960px) {
    .grid[grid-left] {
        grid-template-columns: 100%;
    }
}

::deep .image-container[image-container-left] {
    grid-row: 1;
}

    ::deep .image-container[image-container-left=True] {
        grid-column: 1 / span 2;
    }

    ::deep .image-container[image-container-left=False] {
        grid-column: 2 / span 2;
    }

@media screen and (max-width: 960px) {
    ::deep .image-container[image-container-left] {
        grid-column: 1;
    }
}

::deep .content-container[content-container-left] {
    grid-row: 1;
}

    ::deep .content-container[content-container-left=True] {
        grid-column: 2 / span 2;
    }

    ::deep .content-container[content-container-left=False] {
        grid-column: 1 / span 2;
    }

@media screen and (max-width: 960px) {
    ::deep .content-container[content-container-left] {
        grid-column: 1;
        grid-row: 2;
    }
}
