<IndexSectionBase Id="@Id" BackgroundColor="@BackgroundColor" Header="Where I've worked">
	<BigMudPaper>
		<ResponsiveSubTitle>
			<MainContent>
				<strong>Software Developer</strong>
			</MainContent>
			<SubContent>
				<i>@@DataHorizon,UK</i>
			</SubContent>
		</ResponsiveSubTitle>
		

		<MudText Typo="Typo.body2" Class="pb-3"><i>September 2021 – November 2022</i></MudText>

		<MudText>
			<ul class="bullet-points">
				<li>Created and modified mobile and desktop apps as well as their back-end web services.</li>
				<li>Contributed to the design and maintenance of relational databases.</li>
				<li>Refactored portions of the code to fit with modern design patterns.</li>
				<li>Provided data illustration and presentation using interactive graphs and reports.</li>
			</ul>
		</MudText>
	</BigMudPaper>
</IndexSectionBase>

@code {
	[Parameter]
	public string? Id { get; set; }
	[Parameter]
	public string? BackgroundColor { get; set; }
}
