<BaseExperienceSection JobTitle="Technical Administrator "
					   Company="Mypower,UK"
					   Dates="August 2020 - April 2021 ">
	<li>Responsible for file collation, creating comprehensive handover packs for clients, with information about their solar panel installations.</li>
    <li>Developed a Python script during personal time to streamline the process and improve efficiency.</li>
    <li>Started the development of an <MudLink Color=Color.Secondary Href="./Projects/HandoverPacks">application</MudLink> using C#, adding a user‑friendly UI and allowing other users to use it.</li>
    <li>Analysed data, calculating expected returns from installing batteries in conjunction with solar panels to determine if they would reduce costs.</li>
    <li>Put together estimates on output prediction for prospective clients, helping to expand the client base.</li>
</BaseExperienceSection>
