<BaseExperienceSection JobTitle="MSci Physics"
					   Company="University of Birmingham,UK"
					   Dates="October 2016 ‑ June 2020">
	<AdditionalInfo>
		<MudGrid Spacing="0" Justify="Justify.SpaceBetween">
			<MudItem md="5" lg="4">
				Class II (Division I)
			</MudItem>
			<MudItem>
				GPA: 3.5
			</MudItem>
			<MudHidden Breakpoint="Breakpoint.SmAndDown">
				<MudItem xs="0" lg="3" />
			</MudHidden>
		</MudGrid>
	</AdditionalInfo>
	<ChildContent>
	<li>Graduated from the University of Birmingham, with a Master’s Degree in Physics, a course which prides itself on teaching problem solving and critical thinking.</li>
    <li>Worked on a range of projects and found my interest in writing software. As the course progressed, I directed it further towards the computing side of Physics, taking every computing module were possible.</li>
    <li>Led study sessions for my friends to help learn our early computing classes.</li>
		<li>My <MudLink Color=Color.Secondary Href="./Projects/Nanoparticles">final project</MudLink> was a study on Neural Networks.</li>
		<li>Also took part in a larger group project, studying machine learning to train on a <MudLink Color=Color.Secondary Href="./Projects/NaoRobot">Nao Robot</MudLink>.</li>
	</ChildContent>
</BaseExperienceSection>
