@page "/Projects/Portfolio"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter Links="@Links" EndBGLighter=true>
	<DisplayHero>
		<Hero Large=false>
			<Title>
				<strong>Portfolio</strong> website
			</Title>
			<SubTitle>
				You’ve seen at least 2 pages now. It’s <strong>about me</strong>
			</SubTitle>
		</Hero>
	</DisplayHero>
</MainLayoutSetter>

<SectionBase>
	<BigMudPaper Class="spaced-block">
		<ResponsiveTitle>
			Overview
		</ResponsiveTitle>
		<MudText Typo="Typo.body1">
			Felt like something I was lacking while applying to jobs, so I decided to create this website to supplement my resume. It also gave me a good opportunity to learn <strong>html</strong> and <strong>css</strong>.
		</MudText>
		<ResponsiveTitle>
			Description
		</ResponsiveTitle>
		<MudText Typo="Typo.body1">
			Built using <strong>Blazor</strong> and deployed to <strong>Azure</strong> as a static web app. It uses the <MudLink Color="Color.Secondary" Href="https://mudblazor.com" Target="_blank">MudBlazor</MudLink> component library, but is otherwise developed by me.
		</MudText>
		<MudText Typo="Typo.body1">
			Realistically, this shouldn’t have taken me more than a few months to learn and produce, but I found my biggest struggle was writing the content, and I stalled on that for a <i>while</i>.
		</MudText>
		<MudText Typo="Typo.body1">
			I think my biggest mistake (this was new to me) was not sorting out component libraries before I started. I was a month into development before I started to feel bogged down by the default version of Bootstrap. I then had to spend a week or two going back though, transferring everything to use a new library.
		</MudText>
	</BigMudPaper>
</SectionBase>
<SectionBase BGLighter=false>
	<BigMudPaper>
		<ResponsiveTitle>
			GitHub
		</ResponsiveTitle>
		<MudText Typo="Typo.body1">
			You can take a look at the repository here: <MudLink Class="d-block d-sm-inline" Color="Color.Secondary" Href="https://github.com/Rielk/Portfolio" Target="_blank">GitHub - Portfolio</MudLink>
		</MudText>
	</BigMudPaper>
</SectionBase>

@code {
	private List<LinkDetails>? Links { get; } = new() {
		new("./", "Home"),
		new("./Projects", "Projects"),
		new("https://github.com/Rielk/Portfolio", "GitHub") };
}
