@page "/Projects/Test1"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter Links="@Links">
	<Hero>
		<div class="hero-buffer-small">
			<MudText Typo="Typo.h4" Class="mono-font">
				My Specific <strong>Project</strong>
			</MudText>
			<MudText Typo="Typo.body1" Class="mono-font">
				This is the <strong>Test 1</strong> project
			</MudText>
			<MudText Typo="Typo.body2" Class="mono-font">
				This page is <strong>under construction</strong>.
			</MudText>
		</div>
	</Hero>
</MainLayoutSetter>

<div class="pt-8 pt-lg-12 rounded-t-xl" style="background-color: @Layout.GetBackColor(true);" />
<MudContainer MaxWidth="MaxWidth.False" Class="mx-0 px-0 py-xl-16">
	<SectionBase BackgroundColor="@Layout.GetBackColor(true)">
		<BigMudPaper>
			<MudText Typo="Typo.body2">
				This page is <strong>under construction</strong>.
			</MudText>
		</BigMudPaper>
	</SectionBase>
</MudContainer>
<div class="pb-8 pb-lg-12 rounded-b-xl" style="background-color: @Layout.GetBackColor(true);" />

@code {
	[CascadingParameter(Name = "Layout")]
	protected MainLayout Layout { get; set; } = null!;


	private List<LinkDetails>? Links { get; } = new() {
		new("./", "Home"),
		new("", "Overview") };
}
