@* @page "/Projects/Test1" *@

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter Links="@Links" EndBGLighter=true>
	<DisplayHero>
		<Hero Large=false>
			<Title>
				My Specific <strong>Project</strong>
			</Title>
			<SubTitle>
				This is the <strong>Test 1</strong> project
			</SubTitle>
		</Hero>
	</DisplayHero>
</MainLayoutSetter>

<SectionBase>
	<BigMudPaper>
		<MudText Typo="Typo.body2">
			This page is <strong>under construction</strong>.
		</MudText>
	</BigMudPaper>
</SectionBase>

@code {
	private List<LinkDetails>? Links { get; } = new() {
		new("./", "Home"),
		new("./Projects", "Projects"),
		new("https://github.com/Rielk", "GitHub") };
}
