@page "/Experience"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter Links="@Links" EndBGLighter=true>
	<Hero>
		<div class="hero-buffer-small">
			<MudText Typo="Typo.h4" Class="mono-font">
				My <strong>Experience</strong>
			</MudText>
			<MudText Typo="Typo.body1" Class="mono-font">
				More details on my work history
			</MudText>
			<MudText Typo="Typo.body2" Class="mono-font">
				This page is <strong>under construction</strong>.
			</MudText>
		</div>
	</Hero>
</MainLayoutSetter>

<SectionBase BackgroundColor="@Layout.GetBackColor(true)">
	<BigMudPaper>
		<MudText Typo="Typo.body2">
			This page is <strong>under construction</strong>.
		</MudText>
	</BigMudPaper>
</SectionBase>

@code {
	[CascadingParameter(Name = "Layout")]
	protected MainLayout Layout { get; set; } = null!;

	private List<LinkDetails>? Links { get; } = new() {
		new("./", "Home"),
		new("", "Overview") };
}
