@page "/Experience"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter Links="@Links" EndBGLighter=true>
	<DisplayHero>
		<Hero Large=false>
			<Title>
				My <strong>Experience</strong>
			</Title>
			<SubTitle>
				More details on my work history
			</SubTitle>
		</Hero>
	</DisplayHero>
</MainLayoutSetter>

<SectionBase Id="DataHorizon" BGLighter=true Header="Work">
	<DataHorizonExperienceSection />
</SectionBase>
<SectionBase Id="Mypower" BGLighter=false>
	<MypowerExperienceSection />
</SectionBase>
<SectionBase Id="UoB" BGLighter=true Header="Education">
	<UoBExperienceSection />
</SectionBase>

@code {
	private List<LinkDetails>? Links { get; } = new() {
		new("./", "Home") };
}
