@page "/"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter>
	<Hero>
		<BufferHeader>
			<Header>
				Hi! I'm <strong>William Sullivan</strong>
			</Header>
			<Body>
				I'm a <strong>software developer</strong>
			</Body>
			<SubContent>
				This website is <strong>under construction</strong>.
			</SubContent>
		</BufferHeader>
	</Hero>
</MainLayoutSetter>

<div class="content">
	<About/>
	<Projects/>
	<Contact/>

</div>
