@page "/"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter>
	<Hero>
		<BufferHeader>
			<Header>
				Hi! I'm <strong>William Sullivan</strong>
			</Header>
			<Body>
				I'm a <strong>software developer</strong>
			</Body>
			<SubContent>
				This website is <strong>under construction</strong>.
			</SubContent>
		</BufferHeader>
	</Hero>
</MainLayoutSetter>

<div class="pt-3 pt-lg-4 pt-xl-5 pb-3 pb-lg-4 pb-xl-5">
	<About PositionIndex="0"/>
	<Projects PositionIndex="1"/>
	<Contact PositionIndex="2"/>

</div>
