@page "/"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter Links="@Links" EndBGLighter=false>
	<DisplayHero>
		<Hero Large=true>
			<Title>
				Hi! I'm <strong>William Sullivan</strong>
			</Title>
			<SubTitle>
				I'm a <strong>software developer</strong>, looking for challenges and eager to work towards solutions.
			</SubTitle>
		</Hero>
	</DisplayHero>
</MainLayoutSetter>

<AboutSection Id="About" BGLighter=true />
<WorkExperienceSection Id="WorkExperience" BGLighter=false />
<ProjectsSection Id="Projects" BGLighter=true />
<ContactSection Id="Contact" BGLighter=false />

@code {
	private List<LinkDetails>? Links { get; } = new() {
		new("#", "Home"),
		new("#About", "About"),
		new("#WorkExperience", "Experience"),
		new("#Projects", "Projects"),
		new("#Contact", "Contact"),
		new("./files/Resume-WilliamSullivan.pdf", "Resume", true) };
}

