@page "/"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter>
	<Hero>
		<div class="hero-buffer">
			<MudText Typo="Typo.h3" Class="hero-font">
				Hi! I'm <strong>William Sullivan</strong>
			</MudText>
			<MudText Typo="Typo.body1" Class="hero-font">
				I'm a <strong>software developer</strong>
			</MudText>
			<MudText Typo="Typo.body2" Class="hero-font">
				This website is <strong>under construction</strong>.
			</MudText>
		</div>
	</Hero>
</MainLayoutSetter>

<MudContainer MaxWidth="MaxWidth.False" Class="mx-0 px-0 py-8 py-lg-12 py-xl-16">
	<About PositionIndex="0" />
	<Projects PositionIndex="1" />
	<Contact PositionIndex="2" />
</MudContainer>
