@page "/"
@using BlazorApp.Client.Pages.IndexSections

<PageTitle>Index</PageTitle>

<MainLayoutSetter>
	<Hero>
		<BufferHeader>
			<Header>
				Hi! I'm <strong>William Sullivan</strong>
			</Header>
			<Body>
				I'm a <strong>software developer</strong>
			</Body>
			<SubContent>
				This website is <strong>under construction</strong>.
			</SubContent>
		</BufferHeader>
	</Hero>
</MainLayoutSetter>

<div class="content">
	<h1>Hello, world!</h1>

	<p> <strong>This website is still very under construction.</strong> </p>

	<a href="/index.html"> Test Link</a>

	<About/>
	<Projects/>
	<Contact/>

</div>
