@page "/"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter Links="@Links" EndBGLighter=false>
	<Hero>
		<div class="hero-buffer-large">
			<MudText Typo="Typo.h4" Class="mono-font">
				Hi! I'm <strong>William Sullivan</strong>
			</MudText>
			<MudText Typo="Typo.body1" Class="mono-font">
				I'm a <strong>software developer</strong>
			</MudText>
			<MudText Typo="Typo.body2" Class="mono-font">
				This website is <strong>under construction</strong>.
			</MudText>
		</div>
	</Hero>
</MainLayoutSetter>

<AboutSection Id="About" BGLighter=true />
<WorkExperienceSection Id="WorkExperience" BGLighter=false />
<ProjectsSection Id="Projects" BGLighter=true />
<ContactSection Id="Contact" BGLighter=false />

@code {
	private List<LinkDetails>? Links { get; } = new() {
		new("#", "Home"),
		new("#About", "About"),
		new("#WorkExperience", "Experience"),
		new("#Projects", "Projects"),
		new("#Contact", "Contact") };
}

