@page "/Projects/{*project}"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter Links="@Links" EndBGLighter=@(Project != null)>
	<DisplayHero>
		<Hero Large=false>
			<Title>
				My <strong>Projects</strong>
			</Title>
			<SubTitle>
				Projects I have previously worked on
			</SubTitle>
		</Hero>
	</DisplayHero>
</MainLayoutSetter>

@if (Project != null)
{
	<SectionBase BGLighter=true>
		<BigMudPaper>
			<MudText Typo="Typo.body2">
				Sorry, there isn't a page for the project "<strong>@Project</strong>".
			</MudText>
			<MudText Typo="Typo.body2">
				Please take a look at my other work.
			</MudText>
		</BigMudPaper>
	</SectionBase>
}

<SectionBase Id="Overview" BGLighter=@(Project == null) TightBottom=true>
	<MudText>
		<i>I've worked on a variety of projects, large and small over the last 6 years. Here is a selection of some of the more notable ones.</i>
	</MudText>
</SectionBase>
<SectionBase BGLighter=@(Project == null) Tight=true>
	<AnacondaProjectSection ImageLeft=false />
</SectionBase>
<SectionBase BGLighter=@(Project != null) Tight=true>
	<NPMSProjectSection ImageLeft=true />
</SectionBase>
<SectionBase BGLighter=@(Project == null) Tight=true>
	<PortfolioProjectSection ImageLeft=false />
</SectionBase>
<SectionBase BGLighter=@(Project != null) Tight=true>
	<AoC23ProjectSection ImageLeft=true />
</SectionBase>
<SectionBase BGLighter=@(Project != null) Tight=true>
	<AoC22ProjectSection ImageLeft=false />
</SectionBase>
<SectionBase BGLighter=@(Project == null) Tight=true>
	<HandoverPacksProjectSection ImageLeft=true />
</SectionBase>
<SectionBase BGLighter=@(Project != null) Tight=true>
	<NanoparticlesProjectSection ImageLeft=false />
</SectionBase>
<SectionBase BGLighter=@(Project == null) TightTop=true>
	<NaoRobotProjectSection ImageLeft=true />
</SectionBase>

<SectionBase Id="GitHub" BGLighter=@(Project != null)>
	<BigMudPaper>
		<MudStack AlignItems="AlignItems.Center" Class="spaced-block">
			<ResponsiveTitle>Check out my GitHub</ResponsiveTitle>

			<MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="https://github.com/Rielk" Target="_blank">GitHub</MudButton>

			<SocialMedia />
		</MudStack>
	</BigMudPaper>
</SectionBase>

@code {
	private List<LinkDetails>? Links { get; } = new() {
		new("./", "Home"),
		new("#Overview", "Overview"),
		new("https://github.com/Rielk", "GitHub")};

	[Parameter]
	public string? Project { get; set; }

}
