:root {
    /*https://coolors.co/efefef-d5d4d7-c8c7cb-1d142e-040306-7743db-ca054d*/
    --colors-light1: #EFEFEF;
    --colors-light2: #D5D4D7;
    --colors-light3: #C8C7CB;
    --colors-dark: #1D142E;
    --colors-blackish: #040306;
    --colors-colorful: #7743DB;
    --colors-look-at-me: #CA054D;
    /**/
    --colors-text: var(--colors-blackish) ;
    --colors-text--invert: var(--colors-light1);
    /*
    --colors-primary: #7743DB;
    --colors-primary--dark: #3B3486;
    --colors-secondary: #FCFDF2;
    --colors-secondary--dark: #FFE9B1;
    --colors-text: #000;
    --colors-text--invert: #d7d7d7;

    --background--dark: #3B3486;
    --background: #7743DB;
    --background--light: #D9C5FF;
    --background--light-2: #FCFDF2;
    --background-text: #000;
    */
}
