a {
    color: var(--colors-look-at-me);
}

    a:hover {
        color: var(--colors-look-at-me-hover)
    }

button {
    background-color: var(--colors-look-at-me);
    color: var(--colors-text--invert);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 1.5rem;
    border: 0;
}

    button:hover {
        background-color: var(--colors-look-at-me-hover);
    }
