.buffer {
    background-color: var(--colors-light2);
    padding: 15rem 15rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    /*
    background-image: url("./images/Background_Tile.png");
    background-size: 128px;
    background-repeat: repeat;
    background-position: 0 0;
    background-position: -3px -3px;
    */
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    /**/
    font-family: var(--font-family--Roboto-Mono);
}

::deep strong {
    color: var(--colors-colorful);
}
