@inject IJSRuntime JS

<button @onclick=DownloadFile>@DisplayText<span class="oi oi-data-transfer-download ms-1" aria-hidden="true" hidden="@(!ShowIcon)"></span></button>

@code {
    [Parameter]
    public string? Text { get; set; }
    private string DisplayText => Text ?? FileName;

    [Parameter]
    public bool ShowIcon { get; set; } = true;
    [Parameter, EditorRequired]
    public string URL { get; set; } = null!;
    [Parameter, EditorRequired]
    public string FileName { get; set; } = null!;

    private IJSObjectReference? ComponentScriptModule;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
		if (firstRender)
			ComponentScriptModule = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/DownloadButton.razor.js");
		await base.OnAfterRenderAsync(firstRender);
	}

	private async Task DownloadFile()
	{
		if (ComponentScriptModule is not null)
			await ComponentScriptModule.InvokeVoidAsync("triggerFileDownload", FileName, URL);
	}
}
