.buffer-large {
    margin-top: 240px;
    margin-bottom: 240px;
}

.buffer-small {
    margin-top: 80px;
    margin-bottom: 80px;
}

.buffer-large, .buffer-small {
    --buffer-x: 0px;
    padding-left: var(--buffer-x);
    padding-right: var(--buffer-x);
}

.hero {
    align-items: start;
    justify-content: center;
    text-align: center;
}

.skew-20 {
    transform: skew(20deg);
}

.d-grid {
    display: grid;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-page {
    background-color: var(--page-background-color);
}

.extend {
    height: 100vh;
    margin-bottom: -100vh;
}

::deep .hero-text > * {
    /*color: var(--mud-palette-grey-lighter);*/
}

    ::deep .hero-text > * > strong {
        color: var(--secondary-color);
    }
