.buffer-large {
    margin-top: 240px;
    margin-bottom: 240px;
}

.buffer-small {
    margin-top: 80px;
    margin-bottom: 80px;
}

.buffer-large, .buffer-small {
    --buffer-x: 0px;
    padding-left: var(--buffer-x);
    padding-right: var(--buffer-x);
}

.hero {
    align-items: start;
    justify-content: center;
    text-align: center;
}

.skew-20 {
    transform: skew(20deg);
}

.elipse-back {
    --extra-padding: 32px;
    border-radius: 100%;
    height: 141.42135623730950488016887242097%;
    width: calc(1.4142135623730950488016887242097 * (100% + var(--extra-padding)));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-grid {
    display: grid;
}

.extend {
    height: 100vh;
    margin-bottom: -100vh;
}

::deep .hero-text > * {
    /*color: var(--mud-palette-grey-lighter);*/
}

    ::deep .hero-text > * > strong {
        color: var(--secondary-color);
    }
