.buffer-large {
    margin-top: 240px;
    margin-bottom: 240px;
}

.buffer-small {
    margin-top: 80px;
    margin-bottom: 80px;
}

.buffer-large, .buffer-small {
    --buffer-x: 0px;
    padding-left: var(--buffer-x);
    padding-right: var(--buffer-x);
}

.hero {
    display: grid;
    align-items: start;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.skew-20 {
    transform: skew(20deg);
}

.back-colors {
    display: grid;
    grid-template-columns: 16px 16px auto 16px 16px;
    /**/
    height: 100vh;
    margin-bottom: -100vh;
}
