<div id="@Id" style=@Style>
	<MudContainer MaxWidth=MaxWidth.Large Class="pa-0">
		<MudContainer Fixed=true Class="py-8 py-lg-12 py-xl-16">
			@if (Header != null)
			{
				<ResponsiveTitle Class="mb-3">@Header</ResponsiveTitle>
			}

			@ChildContent

			@if (@EndHref != null)
			{
				<div class="d-flex justify-center mt-6">
					<MudButton Href="@EndHref" Color="Color.Secondary" Variant="Variant.Filled">
						@(EndHrefText ?? EndHref.Trim('.', '/', '#', ' '))
					</MudButton>
				</div>
			}
		</MudContainer>
	</MudContainer>
</div>

@code {
	[Parameter]
	public string? Id { get; set; } = Guid.NewGuid().ToString("N");
	[Parameter]
	public RenderFragment? ChildContent { get; set; }
	[Parameter]
	public string? BackgroundColor { get; set; }

	[Parameter]
	public string? Header { get; set; }

	[Parameter]
	public string? EndHref { get; set; }
	[Parameter]
	public string? EndHrefText { get; set; }

	[CascadingParameter]
	protected MudThemeProvider? MudThemeProvider { get; set; }

	string Style => string.IsNullOrWhiteSpace(BackgroundColor) ? "" : $"background-color: {BackgroundColor};";
}
