.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    min-height: 100vh;
}

.cover {
    position: relative;
    width: 100%;
    flex:1;
}

.logo-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    border-radius: 50%;
    /*border-bottom: 2px solid var(--border-color);*/
    vertical-align: middle;
    margin-top: 1.2rem;
}
