.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /**/
    min-height: 100vh;
}

.page-background, .page {
    background-color: var(--page-background-color);
}

.logo-circle {
    background-color: var(--appbar-color);
}

.cover {
    position: relative;
    width: 100%;
    z-index: 4;
    /**/
    --space-before: 0px;
    margin-top: var(--space-before);
}

.logo-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    border-radius: 50%;
    /*border-bottom: 2px solid var(--border-color);*/
    vertical-align: middle;
    margin-top: 1.2rem;
}

::deep [id] {
    scroll-margin-top: var(--header-height);
}
