@inherits LayoutComponentBase

<div class="page" @onclick="PageClicked">
	<main>
		<div class="top-row px-4">
			<span class="logo-circle">
				<a href=""><img class="logo" alt="Logo" src="images/WillSullDev_Logo.png" /></a>
			</span>
			<TopLinks @ref="TopBarLinks" NavLinks="@(new() {new("", "HOME", true), new("about", "ABOUT"), new("projects", "PROJECTS"), new("contact", "CONTACT")})" />
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code
{
	TopLinks? TopBarLinks;

	private void PageClicked()
	{
		TopBarLinks?.HideMenu();
	}
}
