@inherits LayoutComponentBase

<div class="page">
	<main>
		<div class="top-row px-4">
			<span class="logo-circle">
				<a href=""><img class="logo" alt="Logo" src="images/willsuldev_logo_3.png" /></a>
			</span>
			<div class="link-collection" style="flex-grow:1;">
				<div class="nav-item">
					<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
						HOME
					</NavLink>
				</div>
				<div class="nav-item">
					<NavLink class="nav-link" href="about">
						ABOUT
					</NavLink>
				</div>
				<div class="nav-item">
					<NavLink class="nav-link" href="projects">
						PROJECTS
					</NavLink>
				</div>
				<div class="nav-item">
					<NavLink class="nav-link" href="contact">
						CONTACT
					</NavLink>
				</div>
			</div>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
